Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
python-dotenv==0.10.5
Werkzeug==0.15.6
yapf==0.29.0
Pyrebase==3.0.27

google-api-python-client
google-auth-httplib2
google-auth-oauthlib

apscheduler
