{% extends 'base.html' %}

{% block header %}
<h3>     
    <div class="p-3 mb-2 bg-warning text-dark">
        <img data-src="https://www.shpe.org/uploads/images/logos/SHPE_logo_FullColor-RGB-2x.png" class="img-thumbnail" alt="logo" src="https://www.shpe.org/uploads/images/logos/SHPE_logo_FullColor-RGB-2x.png"
        width="100" height="100">
        <div class="mx-auto" style="text-align:center;width:wh;">New to SHPE? We want to know more about you!</div>
  </div>
</h3>
{% endblock %}
<!-- This should always go here -->

{% block title %}  Welcome to SHPE UCI! {% endblock %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="/static/script.js"></script>

<!-- You can change Register to anything else.-->


{% block content %}
<br>
<br>
<!-- All your body content goes here! -->
<div class="container-fluid">

    
    <form method="post">
        <fieldset>
        <legend class="text-center">Please Enter Your Info Below :)</legend>
        
        <!-- <div class="form-group row"> -->
        <div class="row align-items-end" style="padding-bottom:10px;">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <label for="firstName">Full name:</label>
                <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First name" width="100%" required>
            </div>
            <div class="col-lg-3">
                <label for="lastName"><br></label>
                <input class="form-control" type="text" id="lastName" name="lastName"placeholder="Last name" required>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <!-- <div class="form-group row"> -->
        <div class="row align-items-end" style="padding-bottom:10px;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <label for="email">UCI Email:</label>
                <input class="form-control" type="text" id="email" name="email" placeholder="panteater@uci.edu" title="Must Use Your UCI Email, e.g. _______@uci.edu" pattern="[A-Za-z0-9]{1,}@uci.edu" required>
            </div>
            <div class="col-lg-3"></div>
        </div> 

        <!-- <div class="form-group row"> -->
        <div class="row align-items-end" style="padding-bottom:10px;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <label for="major">Current Major:</label><br>
                <input class="form-control" type="text" id="major" name="major" placeholder="Undeclared" required>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <!-- <div class="form-group row"> -->
        <div class="row align-items-end" style="padding-bottom:10px;">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <label for="year">Year:</label>
                <select class="form-control" id="year" name="year">
                <option value="Freshman">Freshman</option>
                <option value="Sophmore">Sophmore</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
                <option value="SuperSenior">5th Year +</option>
                <option value="Graduate">Grad Student</option>
                </select>
            </div>
            <div class="text-right col-lg-3">
                <!-- <label for="submit"><br><br></label>
                <button id="submit" name="submit" type="submit" value="Submit">Submit</button> -->
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div class="row" style="padding-top:10px;padding-bottom:10px;">
            <div class="col-lg-5"></div>
            <div class="col-lg-2 d-flex justify-content-center">
                <button id="submit" name="submit" type="submit" value="Submit">Submit</button>
            </div>
            <div class="col-lg-5"></div>
        </div>


        </fieldset>
    </form>
</div>

{% endblock %}